/* 定義 */
$cWhite: white;
$cBlacl: black;


#container{
    text-align: center;
}

.btn{
    background-color: $cWhite;
    color: $cBlacl;
    border: 1px solid $cBlacl;
    padding: 10px 40px;
    margin: 50px 0;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
        background-color: $cBlacl;
        color: $cWhite;
    }
}

