<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- v-ifとv-else -->
        <h3>v-ifとv-else</h3>
        <p v-if="toggle">Yes</p>
        <p v-else>No</p>
        <p>-------------------------------------------</p>

        <!-- v-else-if -->
        <h3>v-else-if</h3>
        <p v-if="color === 'red'">Stop</p>
        <p v-else-if="color === 'yellow'">Caution</p>
        <p v-else-if="color === 'blue'">Go</p>
        <p v-else>Not red/yellow/blue</p>
        <p>-------------------------------------------</p>

        <!-- v-show -->
        <h3>v-show</h3>
        <p v-show="toggle2">Hello Vue.js!</p>
        <p v-else>Good Bye</p>
        <p>-------------------------------------------</p>
    </div>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
