<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>画像をアップロードしてください</h2>
    <form action="/ocrFlask" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadFile" accept=".png, .jpg" capture="camera">
        <input type="submit" value="送信">
    </form>
</body>

</html>
